* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
h3,
h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}
img {
  z-index: 11;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.page-content-light {
  max-width: 100%;
  height: auto;
  padding: 10px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}
.page-content-dark {
  max-width: 100%;
  height: auto;
  padding: 10px;
  background-color: #2d2d30;
  overflow-x: hidden
}
.page-content-dark h3 {
  color: white;
}
.container {
  padding: 0px 0px;
}
.row {
  padding: 0;
  margin: 0;
}
::-moz-selection {
  background: #b2c7e8;
}
::selection {
  background: #b2c7e8;
}